.row {
  margin: 0 auto;
  max-width: 76%;
  padding-left: 27px;
  padding-right: 27px;
}
.p-strip{
  padding-top: 4%;
  padding-bottom: 4%;
}

.lista{
    list-style-type: disc;
}

@media (min-width:460px){
  .Grid{
    flex-direction: column-reverse;
  }
}